.menu {
    background-color: #892020;
    padding: 10px;
  }
  
  .menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .menu-item {
    margin: 0 10px;
  }